body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display:flex;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.sidebar {
    float: left;
    width: 20%;
    margin-right: 5%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.content {
    /* float: left; */
    width: 75%;
}
#containerLeft{
	width:25%;
}

h2 {
    font-size: 18px;
    font-weight: bold;
   /* border-bottom: 2px solid #000;*/
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.board_list_wrap {
    width: 100%;
}

.board_list {
    width: 100%;
    border-top: 1px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .title a {
    color: #000;
    text-decoration: none;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    text-decoration: none; /* 밑줄 삭제 */
}

.board_page a.bt {
    padding-top: 8px;
    font-size: 10px;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 7px;
    font-size: 12px;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.bt_wrap {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 12px;
    text-decoration: none; /* 밑줄 삭제 */
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .sidebar, .content {
        float: none;
        width: 100%;
    }

    .content {
        padding-left: 0;
    }
}