@charset "UTF-8";

section {
	display: flex;
    justify-content: center; 
    align-items: center;
}

.login-container {
    width: 400px;
    margin-top: 8%;
}

#loginForm {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.inputInfo {
	display: flex;
	border-bottom: 1px solid #ccc;
}

.infoName {
	width: 20%;
	color: #929292;
	margin-top: 4%;
	font-size: 15px;
}

#loginForm input {
    border: none;
   /* border-bottom: 1px solid #ccc;*/
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 0;
    outline: none;
    align-items: center;
}

#loginForm input::placeholder {
    color: #aaa;
}

#loginForm p {
	margin-top: -8%;
	text-align: center;
	font-size: 12px;
	padding: 5%;
	border-bottom: 1px solid #ccc;
}
#btnList {
    margin-top: 10%;
}

.btnL {
    width: 100%;
    padding: 15px 0;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 11px;
}

.btnL:hover {
    background-color: #333;
}

.options {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
}

.options button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 80%;
    cursor: pointer;
}

#loginBtn {
	width: 47%;
    padding: 12px 0;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 11px;
}

#findPwBtn {
	width: 47%;
    padding: 12px 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 11px;
    margin-left: 4%;
}

#resultArea span{
	font-size: 14px;
}
#errorMessage {
    color: red;
    text-align: center;
    margin-top: 10px;
}