<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.shop_final.project.dao.ICommunityDAO">
 	<!-- 글작성 -->
 	<insert id="insertWrite" parameterType="com.shop_final.project.model.CommunityVO">
 		INSERT INTO comm_posts (title, detail, img, score, memId, commCtgId, prdNo)
  		VALUES(#{title},#{detail},#{img},#{score},#{memId},#{commCtgId},#{prdNo})
 	</insert>  
 	
 	<!-- 커뮤니티 글 호출 -->
  	<select id="communityWriteList" parameterType="string" resultType="hashmap">
  		SELECT * FROM comm_posts WHERE commCtgId=#{commCtgId} ;
  	</select>
  	
  	<select id="comRead" parameterType="string" resultType="com.shop_final.project.model.CommunityVO">
  		SELECT * FROM comm_posts WHERE postNo=#{postNo} ;
  	</select>
 </mapper>