<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shop_final.project.dao.IEventDAO">
    <resultMap id="eprdResult" type="com.shop_final.project.model.EventVO" >
  		<result property="eventNo" column="eventNo"  />
  		<result property="eprdName" column="eprdName"  />
  		<result property="eprdDiscount" column="eprdDiscount"  />
  		<result property="eprdPrice" column="eprdPrice"  />  		
  		<result property="eprdImg" column="eprdImg"  />
  		<result property="eventCtgId" column="eventCtgId"  />
  		<result property="prdNo" column="prdNo"  />
  	</resultMap>
    
    <!-- 전체 이벤트 상품 조회 -->
    <select id="listAllEventProduct" resultMap="eprdResult">
  		SELECT * FROM event ORDER BY prdNo
  	</select>
    
    <!-- 이벤트별 상품 조회  -->
  	<select id="eventCtgListProduct" resultMap="eprdResult">
  		SELECT * FROM event WHERE eventCtgId=#{eventCtgId}  ORDER BY prdNo
  	</select>  	
  </mapper>