<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/script.css}">
    
    <style>
        * {
            font-family: 'Arial', sans-serif;
        }
    </style>
    
    <!-- <link rel="stylesheet" type="text/css" href="@{/css/common.css}"> -->
    
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/header.js}"></script>
</head>