<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{/layout/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detailedProduct.css}">
    <script th:src="@{/js/detailedProduct.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- top.html import -->
        <th:block th:replace="~{/layout/top :: top}"></th:block>
        <!--모달 팝업-->
		<div id="prdModal" class="modal">
		</div> 
		<!--end 모달 팝업-->       
        <section>
			<div class="mainBody">
				<form class="moreInfoF">
					<!-- 사진 영역 -->
					<div class="infoImg">
						<div>
							<img id="infoBig" class="infoBig" th:src="@{/project_images/product/{mcId}/{prdImg}(mcId=${prd.mcId}, prdImg=${#strings.arraySplit(prd.prdImg, ',')[0]})}" />
						</div>
						<div class="infoSmall">
							<span th:each="prdImg : ${prdImgList}">
								<img class="imgSmall" th:src="@{/project_images/product/{mcId}/{prdImg}(mcId=${prd.mcId}, prdImg=${prdImg})}" />
							</span>
						</div>
					</div>

					<!-- 정보 영역 -->
					<div class="prdInfo" id="prdInfoArea">
						<input type="hidden" name="prdNo" th:value="${prd.prdNo}">
						<input type="hidden" id="selectedColor" name="cartColor" value="">
						<input type="hidden" id="selectedSize" name="cartSize" value="">
						<span th:text="${prd.prdName}"></span> 
						<span th:if="${session.sid != null and session.mid != null}" id="deleteBtn" th:data-prdno="${prd.prdNo}" th:data-mcid="${prd.mcId}">🗑️</span> <br> 
						<a th:href="@{/product/productCtgList/{mcId}(mcId=${prd.mcId})}">◾
							<span th:text="${prd.mcName}"></span>
						</a> <br>
						<hr>
						<br>

						<table>
							<tr>
								<th>판매가</th>
								<td><span id="clothesCost" th:data-price="${prd.prdPrice}"></span></td>
							</tr>
							<tr>
								<th>포인트</th>
								<td><span id="point"></span></td>
							</tr>
						</table>
						<br>
						<hr>
						<br>

						<table>
							<tr>
								<th>color</th>
								<td>
									<div th:if="${colorList != null and colorList.size() > 0}">
										<div th:each="col : ${colorList}">
											<img class="colorEx" th:data-color="${col}" th:src="@{/project_images/prd_colors/{col}(col=${col})}" />
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>size</th>
								<td>
								    <select id="size" name="size">
										<option th:if="${sizeList == null or sizeList.size() == 0}" value="F">프리 사이즈 입니다.</option>
										<option th:if="${sizeList != null and sizeList.size() > 0}" value="none">[필수]사이즈 선택</option>
										<option th:each="size : ${sizeList}" th:value="${size}" th:text="${size}"></option>
								    </select>
								</td>
							</tr>
						</table>
						<br>
						<hr>
						<br>

						<div id="finalCheck">
							<div>
								<table>
									<tr id="countNo" class="visibility">
										<th>수량</th>
										<td><input type='number' id="numberCheck" name="cartQty" value="1"></td>
									</tr>
								</table>
							</div>
							<div id="totalPrice">
								TOTAL :&nbsp;<span id="sumCost">0원</span>
							</div>
						</div>

						<div id="buttonBar" class="visibility">
							<button id='insertCart' class='shopBtn'>장바구니 넣기</button>
							<button id='purchase' class='shopBtn'>상품 구매하기</button>
						</div>
					</div>
				</form>
			</div>

			<hr>
			<!-- 리뷰 -->
			<div id="reviewBox">
				<table id="reviewTable" th:if="${reviewList != null and reviewList.size() > 0}">
					<tr>
						<th colspan='4' class="classificationP">BEST REVIEW</th>
					</tr>
					<tr id="tableCategory">
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>평점</th>
					</tr>
					<tr th:each="review, status : ${reviewList}" class="reviewTableTr">
						<td th:text="${status.count}"></td>
						<td th:text="${review.postTitle}"></td>
						<td th:text="${review.memId}"></td>
						<td class="reviewScore" th:data-score="${review.score}"></td>
					</tr>
					<tr th:each="review : ${reviewList}" class="reviewContent visibility">
						<td colspan='3' th:text="${review.postDetail}"></td>
						<td><img th:src="@{/project_images/upload/{postImg}(postImg=${#strings.arraySplit(review.postImg, ',')[0]})}" /></td>
					</tr>
				</table>
				<div id="nonReview" th:if="${reviewList == null or reviewList.size() == 0}">리뷰 글이 없습니다.</div>
			</div>

			<!-- 추천 제품 -->
			<div>
				<table id="suggestionTable">
					<tr>
						<th colspan='5' class="classificationP">추천 상품</th>
					</tr>
					<tr>
						<td th:each="prdR : ${prdRList}">
							<div class="suggestion" th:data-prdNo="${prdR.prdNo}">
								<div>
									<img class="suggestionImage" th:src="@{/project_images/product/{mcId}/{prdImg}(mcId=${prdR.mcId}, prdImg=${#strings.arraySplit(prdR.prdImg, ',')[0]})}" />
								</div>
								<div class="nameBasket">
									<span class="suggestionName" th:text="${prdR.prdName}"></span>
									<span class="suggestionCost" th:text="${#numbers.formatInteger(prdR.prdPrice, 3, 'COMMA')} + ' 원'"></span>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<hr>
			<!-- 상세 정보 -->
			<div id="moreImg">
				<div th:if="${prdInfoImg != null and prdInfoImg.size() > 0}"
					th:each="infoImg : ${prdInfoImg}">
					<img th:src="@{/project_images/prd_info/{infoImg}(infoImg=${infoImg})}" />
				</div>
			</div>

			<span id="rollUp">🔺</span>
		</section>
        
        <!-- footer.html import -->
        <th:block th:replace="~{/layout/footer :: footer}"></th:block>
    </div>
</body>
</html>