<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{/layout/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/findId.js}"></script>
</head>
<body>
    <div id="wrap">      
        <section>
			<div class="login-container">
				<form id="loginForm" th:action="@{/member/loginForm}">
					<h2>찾는 아이디</h2>
					<label for="username">아이디</label> 
					<input type="text" id="memName" name="memName" th:value="${memId }" required readonly>
					<div id="btnList">
						<button th:onclick="|location.href='@{/member/loginForm}'|">로그인</button>
					</div>
					<p id="errorMessage" class="error"></p>
				</form>
				<div class="options">
					<button th:onclick="|location.href='@{/member/signUp}'|">회원가입</button>
					<button th:onclick="|location.href='@{/member/loginForm}'|">로그인</button>
					<button th:onclick="|location.href='@{find_password.html}'|">비밀번호 찾기</button>
				</div>
			</div>
		</section>      
    </div>
</body>
</html>