<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/findId.js}"></script>
</head>
<body>
    <div id="wrap">     
        <th:block th:replace="~{layout/top :: top}"></th:block> 
        <section>
			<div class="login-container">
				<form id="loginForm">
					<p>다음 정보로 가입된 아이디가 있습니다.</p>
					<span>아이디</span> 
					<span th:text="${memId}"></span>
					<div id="btnList">
						<button id="loginBtn" th:onclick="|location.href='@{/member/loginForm}'|">로그인</button>
						<button id="findPwBtn" th:onclick="return false;">비밀번호 찾기</button>
					</div>
				</form>
			</div>
		</section>      
		<th:block th:replace="~{layout/footer :: footer}"></th:block>   
    </div>
</body>
</html>