<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{/layout/head :: head}"></th:block>
    <script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
    <script th:src="@{/js/join.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/join.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="~{/layout/top :: top}"></th:block> 
        <section>
            <h4>회원가입</h4>
			<form id="signupForm">
				<table id="joinTable">
					<tr>
						<th>아이디</th>
						<td>
						    <input type="text" id="username" name="memId" required> (영문소문자/숫자, ~10자) 
						     &nbsp;<input type="button" id="searchId" name="searchId" value="중복체크"></td>
					</tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" id="password" name="memPw" required></td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" id="passwordCheck" required></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" id="name" name="memName" required></td>
                    </tr>
                    <tr>
                        <th>휴대전화</th>
                        <td>
                            <input type="text" id="hp1" name="memHP1" required> -
                            <input type="text" id="hp2" name="memHP2" required> -
                            <input type="text" id="hp3" name="memHP3" required>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <input type="email" id="email" name="memEmail" required>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="3">
                            <input type="text" id="zipcode" name="memZipcode" placeholder="우편번호" required>
	                        <input type="button" id="searchZipBtn" name="searchZipBtn" value="우편번호 찾기"><br><br>
	                        <input type="text" id="address1" name="memAddress1" placeholder="주소" required>
                            <input type="text" id="address2" name="memAddress2" placeholder="상세 주소" required>
                        </td>
                    </tr>             
				</table>
				<button id="submitBtn" type="button">회원가입</button>
		    </form>
		</section>
        <th:block th:replace="~{/layout/footer :: footer}"></th:block>   
    </div>
</body>
</html>