<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{/layout/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
    <div id="wrap">        
         <!-- top.jsp import -->
        <th:block th:replace="~{/layout/top :: top}"></th:block>
        <section>
			<div class="login-container">
				<form id="loginForm">
					<div class="inputInfo">
					    <div class="infoName">ID</div>
					    <input type="text" id="username" name="username" required>
					</div>
					<div class="inputInfo">
					    <div class="infoName">Password</div>
					    <input type="password" id="password" name="password" required>
					</div>
					
					<div id="btnList">
						<button class="btnL" type="submit" id="loginButton">LOGIN</button>
					</div>
					<span id="errorMessage" class="error"></span>
				</form>
				<div class="options">
					<button th:onclick="|location.href='@{/member/joinForm}'|">회원가입</button>
					<button th:onclick="|location.href='@{/member/findIdForm}'|">아이디 찾기</button>
					<button th:onclick="return false;">비밀번호 찾기</button>
				</div>
			</div>
		</section>
		<!-- footer.html import -->
        <th:block th:replace="~{/layout/footer :: footer}"></th:block>
    </div>
</body>
</html>