<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- head.html import -->
    <th:block th:replace="~{/layout/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
    <div id="wrap">        
        <section>
			<div class="login-container">
				<form id="loginForm">
					<h2>로그인</h2>
					<label for="username">아이디</label> <input type="text" id="username" name="username" required> <label for="password">비밀번호</label>
					<input type="password" id="password" name="password" required>
					<div id="btnList">
						<button class="btnL" type="submit" id="loginButton">로그인</button>
						<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
						<button class="btnL" type="button" id="backButton">돌아가기</button>
					</div>
					<p id="errorMessage" class="error"></p>
				</form>
				<div class="options">
					<button th:onclick="|location.href='@{/member/signUp}'|">회원가입</button>
					<button th:onclick="|location.href='@{/member/findIdForm}'|">아이디 찾기</button>
					<button th:onclick="return false;">비밀번호 찾기</button>
				</div>
			</div>
		</section>
    </div>
</body>
</html>